---

services:

  php:
    image: "yiisoftware/yii2-php:${PHP_VERSION:-8.1}-apache"
    networks:
      - yii2-elasticsearch
    volumes:
      - .:/app # Mount source-code for development
    environment:
      XDEBUG_MODE: ${XDEBUG_MODE:-coverage} # Setup "debug" to enable debugging
      XDEBUG_CONFIG: "client_host=host.docker.internal"
      XDEBUG_TRIGGER: ${XDEBUG_TRIGGER:-yes}
      ES_VERSION: 8.1.3
      ES_HOST: 'elasticsearch:9200'
    command: >
      bash -c "
      docker-php-ext-enable xdebug;
      apache2-foreground"

  elasticsearch:
    image: elasticsearch:8.1.3
    networks:
      - yii2-elasticsearch
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - http.publish_host=0.0.0.0
      - transport.host=0.0.0.0
      - indices.id_field_data.enabled=true
      - xpack.security.enabled=false

networks:
  yii2-elasticsearch:
    driver: bridge
    name: yii2-elasticsearch
